@model FamilyAlbum.Models.Image

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Caption)</h4>
    <hr />
    <img src="@Model.FilePath" />
</div>
<div>
    @if (Model.PhotoAlbum?.User.Email == User.Identity.Name)
    {
       <h3><a asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a></h3> 
    }
    <p><a asp-controller="PhotoAlbums" asp-action="UserAlbums" asp-route-id="@Model?.PhotoAlbum?.PhotoAlbumId">Back to Albums</a></p>
</div>
