/*Helper Classes*/

.centered {
    text-align: center;
}

.fancy-handwriting{
    font-family: 'Rochester', cursive;
}

/*Navbar*/
#nav-main {
    background-color: rgb(84, 26, 33);
}

.navbar .nav > li > a {
    color: rgb(232, 229, 176);
}

.navbar-inverse .btn-link {
    color: rgb(232, 229, 176);
}

.navbar-inverse .navbar-brand {
    color: rgb(232, 229, 176);
}

/*Parchment Header*/
#parchment {
    background-image: url(../images/parchment.jpg);
    background-size: cover;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: 'Rochester', cursive;
}

#parchment h2 {
    margin: 0;
    padding-top: 2%;
    font-size: 250%;
}

.portrait-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
#family-photo {
    width: 100%;
    height: auto;
    margin-top: -50px;
}

/*Main Body*/

body {
    background-image: url(../images/parchment-background.jpg);
}

/*Posts*/
.reply-badge-text {
    text-align:right;
    float:right;
}

.post-title-text {
    display: inline;
    font-size: 90%;
    font-style: italic;
}

.panel-heading {
    font-size: 120%;
    font-weight: bold;
}

/*Messages*/
#messages {
    display:flex;
    justify-content: space-around;
}

.message {
    background-color: rgb(247, 244, 202);
    width: 27%;
    font-family: 'Architects Daughter', cursive;    
}

.message-sender {
    font-size: 125%;
    padding: 2px 2px;
}
.message-subject {
    text-align: center;
    margin-bottom: 15%;
    font-size: 135%;
    font-weight: bold;
}
.message-link {

}

.message-new {
    float: right;
}

/*Message/Detail*/

#message-detail {
    height: 800px;
    width: 50%;
    background-image: url(../images/albumpage.jpg);
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

/*PhotoAlbums/Detail*/
#photoalbum-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoalbum-image-wrapper {
    margin-top: 2%;
    width: auto;
    position: relative;
    text-align: center;
    flex-basis: 20%;
}

.photoalbum-image {
    width: auto;
    max-height: 350px;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.photoalbum-image-wrapper p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #888;
}

/*Home/Index*/
#title {
    font-size: 350%;
}

#old-photo-album-wrapper {
    margin: auto;
    text-align: center;
}
#old-photo-album {
    width: 30%;
}

/*Posts*/
.post .list-group-item {
    background-color: rgb(247, 244, 202);
}