/*Helper Classes*/

.centered {
    text-align: center;
}

.fancy-handwriting{
    font-family: 'Rochester', cursive;
}

/*Navbar*/
#nav-main {
    background-color: rgb(84, 26, 33);
}

.navbar .nav > li > a {
    color: rgb(232, 229, 176);
}

.navbar-inverse .btn-link {
    color: rgb(232, 229, 176);
}

.navbar-inverse .navbar-brand {
    color: rgb(232, 229, 176);
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        display: block!important;
    }
}

/*Parchment Header*/
#parchment {
    background-image: url(../images/parchment.jpg);
    background-size: cover;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: 'Rochester', cursive;
    overflow:visible;
}

#parchment h2 {
    margin: 0;
    padding-top: 2%;
    font-size: 250%;
}

.portrait-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
#family-photo {
    width: auto;
    height: 100%;
}

/*Main Body*/

body {
    background-image: url(../images/parchment-background.jpg);
}

/*Home/About*/
.carousel {
    margin: 2% auto;
    width: 100%;
}

.carousel-inner img {
    margin: auto;
}

.block-letter {
    font-size: 200%;
}

#about p {
    font-style: italic;
}

/*Home/Contact*/
footer {
    text-align: right;
    font-style: italic;
}

/*Family/Index*/

.family-index-photo {
    width: auto;
    height: 100px;
}

.family-table > thead > tr > th {
    border-bottom: 2px solid darkgrey;
}

.family-table > tbody > tr > td {
    border-bottom: 2px solid darkgrey;
}


/*Posts*/
.reply-badge-text {
    text-align:right;
    float:right;
}

.post-title-text {
    display: inline;
    font-size: 90%;
    font-style: italic;
}

.panel-heading {
    font-size: 120%;
    font-weight: bold;
}

/*Messages*/
#messages {
    display:flex;
    justify-content: space-around;
}

.message {
    background-color: rgb(247, 244, 202);
    width: 27%;
    font-family: 'Architects Daughter', cursive;    
}

.message .message-delete-link {
    text-align: right;
    display:block;
    margin-right: 1%;
}
.message-sender {
    font-size: 125%;
    padding: 2px 2px;
}
.message-subject {
    text-align: center;
    margin-bottom: 15%;
    font-size: 135%;
    font-weight: bold;
}

.message-new {
    float: right;
}

/*Message/Detail*/

#message-detail {
    height: 100%;
    width: 50%;
    background-position-x:50%;
    background-image: url(../images/albumpage.jpg);
    background-size: cover;
    padding-top: 4%;
    text-align: center;
    margin: auto;
    opacity: 0.8;
}

.message-detail-title {
    color: black;
    font-weight: bold;
}

.message-detail-body {
    color: black;
    text-shadow: .5px .5px black;
    margin-left: 2%;
    margin-right: 2%;
}

/*PhotoAlbums/FamilyAlbums*/
#photoalbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoalbum-wrapper {
    margin-top: 2%;
    width: auto;
    position: relative;
    text-align: center;
    flex-basis: 25%;
}

.photoalbum-wrapper .panel-heading {
        background-color:rgb(247, 244, 202)
}

.photoalbum-wrapper .panel-footer {
        background-color:rgb(247, 244, 202)
}
.photoalbum-wrapper  .panel-title {
    font-size: 135%;
}

.photoalbum-wrapper  .panel-body {
    font-size: 135%;
    background-color:rgb(247, 244, 202);
}

.photoalbum-icon {
    width: 70%;
    height: auto;
}

/*PhotoAlbums/Detail*/
#photoalbum-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoalbum-image-wrapper {
    margin-top: 2%;
    width: auto;
    position: relative;
    text-align: center;
    flex-basis: 20%;
}

.photoalbum-image {
    width: auto;
    max-height: 350px;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.photoalbum-image-wrapper p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #888;
}

/*Home/Index*/
#title {
    font-size: 350%;
}

#old-photo-album-wrapper {
    margin: auto;
    text-align: center;
}
#old-photo-album {
    width: 30%;
}

/*Posts*/
.post .list-group-item {
    background-color: rgb(247, 244, 202);
}

.panel-default > .post-heading {
    background-color: rgb(84, 26, 33);
    color: rgb(232, 229, 176);
}

.panel-default > .post-body {
    background-color:rgb(247, 244, 202)
}