@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h3 class="centered">Family Album is still in it's infancy. Please feel free to send comments or suggestions to <a href="mailto:cmwingo@gmail.com">cmwingo@gmail.com</a></h3>
<h5 class="centered">or</h5>
<h3 class="centered">Contribute on <a href="https://github.com/Cmwingo/FamilyAlbum">GitHub</a></h3>
<footer>This site is dedicated to my family, which made it all possible</footer>
