@{
    ViewData["Title"] = "Home Page";
}

@model FamilyAlbum.Models.ApplicationUser
<h1>Family Album</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (Model?.Family == null)
    {
        <div id="join-family">
            <h2>To continue please <a asp-controller="families">join</a> one of our families</h2>
            <br /><h4>or</h4><br />
            <h2><a asp-controller="families" asp-action="create">Create</a> one of your own</h2>
            <h3><a asp-controller="families">Join a Family</a></h3>
        </div>
    }
    else
    {
        <h3>Member of the @Model.Family.Name Family</h3>
    }
    <h2>Profile</h2>
    <h3>Welcome back @Model?.FirstName @Model?.LastName</h3>

    <a asp-controller="families">Family</a>
    <br />
    <a asp-controller="photoalbums">Photo Albums</a>
    <br />
    <a asp-controller="images">Images</a>
    <br />
    <a asp-controller="messages">Messages</a>
    <br />
    <a asp-controller="posts">Posts</a>
    <br />
    <a asp-controller="posts" asp-action="FamilyPosts">Family Posts</a>
    <br />
    <a asp-controller="photoalbums" asp-action="UserAlbums">User Albums</a>
    <br />
    <a asp-controller="photoalbums" asp-action="FamilyAlbums">Family Albums</a>




}
else
{
    <h3>Please log in or register your new account</h3>
}