@{
    ViewData["Title"] = "Home Page";
}

@model FamilyAlbum.Models.ApplicationUser
<h1 id="title" class="fancy-handwriting centered">Family Album</h1>
<div id="old-photo-album-wrapper">
    <img id="old-photo-album" src="~/images/old_photo_album.png"/>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (Model?.Family == null)
    {
        <div id="join-family">
            <h1 class="fancy-handwriting centered">Please <a asp-controller="families">join</a> one of our families</h1>
            <br /><h2 class="fancy-handwriting centered">or</h2><br />
            <h2 class="fancy-handwriting centered"><a asp-controller="families" asp-action="create">Create</a> one of your own to continue...</h2>
        </div>
    }
}
else
{
    <h3 class="centered">Please log in or register your new account</h3>
}