@{
    ViewData["Title"] = "Home Page";
}

@model FamilyAlbum.Models.ApplicationUser
<h1 id="title" class="fancy-handwriting centered">Family Album</h1>
<div id="old-photo-album-wrapper">
    <img id="old-photo-album" src="~/images/old_photo_album.png"/>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (Model?.Family == null)
    {
        <div id="join-family">
            <h1 class="fancy-handwriting centered">Please <a asp-controller="families">join</a> one of our families</h1>
            <br /><h2 class="fancy-handwriting centered">or</h2><br />
            <h2 class="fancy-handwriting centered"><a asp-controller="families" asp-action="create">Create</a> one of your own to continue...</h2>
            <h1><a asp-controller="families">Join a Family</a></h1>
        </div>
    }
    else
    {
        <h3>Member of the @Model.Family.Name Family</h3>
    }
    <h2>Profile</h2>
    <h3>Welcome back @Model?.FirstName @Model?.LastName</h3>

    <a asp-controller="families">Family</a>
    <br />
    <a asp-controller="photoalbums">Photo Albums</a>
    <br />
    <a asp-controller="images">Images</a>
    <br />
    <a asp-controller="messages">Messages</a>
    <br />
    <a asp-controller="posts">Posts</a>
    <br />
    <a asp-controller="posts" asp-action="FamilyPosts">Family Posts</a>
    <br />
    <a asp-controller="photoalbums" asp-action="UserAlbums">User Albums</a>
    <br />
    <a asp-controller="photoalbums" asp-action="FamilyAlbums">Family Albums</a>




}
else
{
    <h3 class="centered">Please log in or register your new account</h3>
}