@{
    ViewData["Title"] = "Home Page";
}

@model FamilyAlbum.Models.ApplicationUser
<h1>Family Album</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (Model?.Family == null)
    {
        <h3><a asp-controller="families">Join a Family</a></h3>
    }
    else
    {
        <h3>Member of the @Model.Family.Name Family</h3>
    }
    <h2>Profile</h2>
    <h3>Welcome back @Model?.FirstName @Model?.LastName</h3>

    <a asp-controller="families">Family</a>
    <br />
    <a asp-controller="photoalbums">Photo Albums</a>
    <br />
    <a asp-controller="images">Images</a>
}
else
{
    <h3>Please log in or register your new account</h3>
}